html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo Tamma 2", sans-serif;
}

.sidenav {
    width: 430px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #2196F3;
    display: block;
}
  
.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 440px;
    font-size: 20px;
    padding: 0px 10px;
    margin-right: 10px;
    line-height: 1.5;
    margin-bottom: 130px;
}