html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo Tamma 2", sans-serif;
}

.sidenav {
    width: 430px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #2196F3;
    display: block;
}
  
.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 440px;
    font-size: 20px;
    padding: 0px 10px;
    margin-right: 10px;
    line-height: 1.5;
    margin-bottom: 130px;
}

.main > p {
    text-indent: 2em;
    text-align: justify;
}

.main > h2 {
    text-align: center;
}

.main > img {
    padding: 15px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#pietre_decorative_din_creioane_cerate {
    position: relative;
}

#pictura_pe_pietre {
    position: relative;
}

#colier_cu_medalion_piatra {
    position: relative;
}

#colier_cu_medalion_piatra > ol >li {
    margin: 0 0 50px 0;
}

figure {
    display: inline-table;
}

figcaption {
    font-size: 14px;
    text-align: center;
}

#piraten {
    position: relative;
}

.dialog {
    line-height: 1;
    text-indent: 2em;
}

#rauber_auf_see {
    position: relative;
}

#piratenproiect {
    position: relative;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table td:nth-child(2) {
    width: 400px;
    text-align: center;
    vertical-align: top;
}

td > p {
    text-indent: 2em;
}

.leftpic {
    float: left;
}

.rightpic {
    float: right;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-height: 100vh;
    max-width: 100%;
}

#leaf {
    list-style-image: url("leaf.png");
}

#bird {
    list-style-image: url("bird.png");
}