*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body
{
    background-image: url(b02ae2523a2c395bab1d7828492338bd.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav
{
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    font-family: "Baloo Tamma 2", sans-serif;
    padding-left: 15px;
    text-align: left;
}

nav li
{
    color: rgb(63, 236, 107);
    box-sizing: border-box;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
}

nav li a
{
    color: rgb(63, 236, 107);
    text-decoration: none;
}

nav li:hover
{
    background-color: #73AD21;
}

.dropdown
{
    position: relative;
}

.dropdown-content
{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    display: none;
}

.dropdown-content li
{
    background-color: transparent;
    width: 100%;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(0WZ5XL.jpg);
    width: 100%;
    height: 100%;
    border: 3px inset #73AD21;
}

.focim
{
    color: moccasin;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -140px;
    text-align: center;
    
    

    text-shadow: 2px 2px 5px red;
    font-family: "Baloo Tamma 2", sans-serif;
    font-size: 50px;
}


section
{
    display: flex;
    flex-wrap: wrap;
    /* background-color: purple; */
    /* opacity: 0.3; */

    position: absolute;
}

section > div
{
    background-color: #d1c98a;
    margin: 20px;
    padding: 20px;
    border: 3px inset #4287f5;
    text-align: center;
    font-family: "Baloo Tamma 2", sans-serif;
    font-size: 25px;
}

section > div > p > a
{
    text-decoration: none;
}